<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database Settings -->
        <property name="connection.username">{db_username}</property>
        <property name="connection.password">{db_pwd}</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">{db_url}</property>
        <property name="hibernate.dialect">{db_dialect}</property>
        <property name="hibernate.connection.CharSet">utf8</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>

        <!-- Other Config -->
        <property name="show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hibernate.order_updates">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!-- Entity Class mapping -->

    </session-factory>

</hibernate-configuration>